/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts12, span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts13
{
 font-size: 8pt;
 color: #4a4a4a;
}
span.rvts14
{
 font-size: 17pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #005680;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts16
{
 font-size: 8pt;
 color: #575757;
}
span.rvts17
{
 font-weight: bold;
}
span.rvts18
{
 font-size: 8pt;
 color: #575757;
 background-color: #ffffff;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts20
{
 font-size: 12pt;
 font-family: 'calibri light';
 color: #2f7377;
}
span.rvts21
{
 font-family: 'Aharoni';
}
span.rvts22
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts23
{
 font-family: 'Aharoni';
 color: #ffffff;
}
span.rvts24
{
 font-size: 12pt;
}
span.rvts25
{
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts26
{
 font-family: 'Aharoni';
 font-weight: bold;
}
span.rvts27
{
 font-size: 16pt;
 font-family: 'Aharoni';
 font-style: italic;
 font-weight: bold;
}
span.rvts28
{
 font-size: 24pt;
 font-family: 'Aharoni';
 font-style: italic;
 font-weight: bold;
}
span.rvts29
{
 font-size: 36pt;
 font-family: 'Aharoni';
 font-style: italic;
 font-weight: bold;
}
span.rvts30
{
 font-size: 28pt;
 font-family: 'Aharoni';
 font-style: italic;
 font-weight: bold;
}
span.rvts31
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 text-decoration: underline;
}
span.rvts32
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts33
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts34
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 background-color: #ffff00;
}
span.rvts35
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ffffff;
}
span.rvts36
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts37
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ffffff;
}
span.rvts38
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 background-color: #ffff00;
}
span.rvts39
{
 font-size: 28pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts40
{
 font-size: 28pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts41
{
 font-size: 24pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts42
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts43
{
 font-weight: bold;
}
span.rvts44
{
}
span.rvts45
{
 font-family: 'Aharoni';
}
span.rvts46
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts47
{
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts48
{
 font-family: 'Aharoni';
 color: #ffffff;
}
span.rvts49
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts50
{
 font-family: 'Aharoni';
 font-weight: bold;
}
span.rvts51
{
 font-size: 14pt;
 font-family: 'Aharoni';
}
span.rvts52
{
 font-size: 14pt;
 font-family: 'Aharoni';
 font-style: italic;
 font-weight: bold;
}
span.rvts53
{
 font-size: 12pt;
 font-family: 'Aharoni';
 font-weight: bold;
}
span.rvts54
{
 font-size: 7pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts55
{
 font-size: 14pt;
 font-family: 'Aharoni';
 font-weight: bold;
}
span.rvts56
{
 font-family: 'Aharoni';
 text-decoration: underline;
}
span.rvts57
{
 color: #000000;
}
span.rvts58
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts59
{
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts60
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts61
{
 font-style: italic;
}
span.rvts62
{
 font-style: italic;
 font-weight: bold;
}
span.rvts63
{
 font-size: 18pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts64
{
 font-size: 12pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts65
{
 font-size: 16.5pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #005680;
}
span.rvts66
{
 font-weight: bold;
 color: #000000;
}
span.rvts67
{
 font-size: 18pt;
 font-weight: bold;
}
span.rvts68
{
 font-style: italic;
 font-weight: bold;
}
span.rvts69
{
 font-size: 12pt;
 font-family: 'calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts70
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'calibri';
 color: #222222;
 background-color: #ffffff;
}
span.rvts72
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #ffffff;
}
span.rvts73
{
 font-size: 8pt;
 color: #ff0000;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 margin: 15px 0px 15px 0px;
}
.rvps6
{
 margin: 0px 0px 11px 0px;
}
.rvps7
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 padding: 7px 0px 0px 0px;
 margin: 15px 0px 15px 0px;
}
.rvps8
{
 margin: 0px 0px 0px 1px;
}
.rvps9
{
 margin: 0px 0px 0px 24px;
}
.rvps10
{
 margin: 0px 0px 0px 48px;
}
.rvps11
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps12
{
 text-indent: -24px;
 margin: 0px 0px 0px 52px;
}
.rvps13
{
 text-indent: -24px;
 line-height: 1.06;
 margin: 0px 0px 0px 100px;
}
.rvps14
{
 margin: 0px 0px 0px 52px;
}
.rvps15
{
 background: #ffffff;
 margin: 0px 0px 12px 0px;
}
.rvps16
{
 background: #ffffff;
 margin: 0px 0px 0px 58px;
}
.rvps17
{
 background: #ffffff;
 margin: 0px 0px 11px 58px;
}
.rvps18
{
 text-align: center;
 margin: 0px 0px 0px 48px;
}
.rvps19
{
 background: #ffffff;
 margin: 0px 0px 11px 48px;
}
.rvps20
{
 background: #ffffff;
 margin: 0px 0px 11px 62px;
}
.rvps21
{
 background: #ffffff;
 margin: 0px 0px 11px 52px;
}
.rvps22
{
 background: #ffff00;
 padding: 0px 0px 0px 16px;
 margin: 0px 0px 11px 46px;
}
.rvps23
{
 background: #ffffff;
 margin: 0px 0px 0px 62px;
}
.rvps24
{
 text-indent: -24px;
}
.rvps25
{
}
.rvps26
{
 text-align: center;
}
.rvps27
{
 text-indent: -24px;
 margin: 0px 0px 0px 52px;
}
.rvps28
{
 margin: 0px 0px 0px 52px;
}
.rvps29
{
 text-indent: -24px;
 margin: 0px 0px 0px 100px;
}
.rvps30
{
 text-indent: 44px;
 margin: 0px 0px 0px 52px;
}
.rvps31
{
 margin: 0px 0px 0px 96px;
}
.rvps32
{
 margin: 0px 0px 0px 49px;
}
.rvps33
{
 text-indent: -24px;
 line-height: 1.06;
 margin: 0px 0px 0px 100px;
}
.rvps34
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps35
{
 text-indent: 48px;
 margin: 0px 0px 0px 48px;
}
.rvps36
{
 margin: 0px 0px 0px 4px;
}
.rvps37
{
 text-indent: -48px;
 margin: 0px 0px 0px 48px;
}
.rvps38
{
}
.rvps39
{
 line-height: 16px;
 margin: 15px 0px 15px 0px;
}
.rvps40
{
 text-indent: -24px;
 margin: 0px 0px 0px 24px;
}
.rvps41
{
 margin: 0px 0px 11px 28px;
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 0px 0px 11px 28px;
}
.rvps43
{
 text-indent: 9px;
 margin: 0px 0px 11px 28px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 52px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: circle;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: square;}
